/* 声明 */
#tip,
.tip {
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#tip {
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(51, 51, 51, 0.8);
	z-index: 9999;

}

.tip {
	position: absolute;
	display: inline-table;
	text-align: center;
	background: #000;
	border-radius: 0.1rem;
	max-width: 90%;
}

.tip h1 {
	color: red;
	font-size: 0.7rem;
	margin: 0.3rem;
}

.tip p {
	color: #FFF;
	margin: 0.3rem;
}

.tip i {
	display: block;
	position: static;
	width: 1rem;
	height: 1rem;
	background: url('../images/tip_close.png') no-repeat center / cover;
	margin: 0.2rem auto;
	cursor: pointer;
	transform: rotate(0deg);
}

.tip i:hover {
	transform: rotate(360deg);
}

/* 轮播 */
#lunbo,
#item,
.item {
	width: 100%;
	height: 8rem;
}

#lunbo {
	position: relative;
	margin-top: 1.8rem;
	border-radius: 0.1rem;
	overflow: hidden;
	background-color: bisque;
}

.item {
	position: absolute;
	opacity: 0;
}

.item.active {
	opacity: 1;
	z-index: 9;
}

#item li a,
#item li img,
#item li i {
	display: block;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

#item li span {
	display: block;
	position: absolute;
	width: 100%;
	height: 2rem;
	line-height: 2.5rem;
	text-indent: 0.5rem;
	bottom: 0rem;
	left: 0rem;
	color: #FFF;
	background: linear-gradient(0, rgba(0, 0, 0, 0.4) 0, rgba(17, 85, 99, 0) 100%);
	font-size: 0.6rem;
	font-weight: bold
}

#btn-left,
#btn-right {
	width: 0.5rem;
	height: 1.5rem;
	font-size: 0.5rem;
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	line-height: 1.5rem;
	padding: 0 0.1rem;
	z-index: 10;
	position: absolute;
	top: 50%;
	cursor: pointer;
	transform: translateY(-60%);
	display: none;
}

#btn-left {
	border-radius: 0 0.1rem 0.1rem 0;
	left: 0;
}

#btn-right {
	right: 0;
	border-radius: 0.1rem 0 0 0.1rem;
}

#lunbo:hover #btn-left,
#lunbo:hover #btn-right {
	/*鼠标滑入，显示图标*/
	display: block;
	z-index: 99;
}

#circle {
	display: flex;
	position: absolute;
	bottom: 0.3rem;
	right: 0.3rem;
}

.circle {
	width: 0.2rem;
	height: 0.2rem;
	border-radius: 0.1rem;
	border: 0.05rem solid white;
	background: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	margin: 0.1rem;
	z-index: 99;
}

.white {
	background-color: #FFFFFF;
}

/* 无数据 */
.no-data {
	width: 100%;
	color: red;
	text-align: center;
	font-size: 0.5rem;
	font-weight: bold;
	margin: 0.5rem 0;
}