/* 关键词提示 */
b {
	color: red;
}

.keywords {
	margin: 1.8rem 0 0.3rem 0;
	font-size: 0.65rem;
}

/* 无数据 */
.no-data {
	width: 100%;
	color: red;
	text-align: center;
	font-size: 0.5rem;
	font-weight: bold;
	margin: 0.5rem 0;
}